
h1{
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: xx-large;
  border: 5px blue solid;
  background-color: skyblue;

}

img{
  display : block;
  margin: 0 auto;
  width: 25%;
  cursor: pointer;
}

.text-box{
  display: flex;
  justify-content: center;
}